#img-bg{
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/2373820-homossexual-casal-abracando-com-orgulho-bandeira-lgbtq-gr%C3%A1tis-vetor.jpg');
    
    min-height: 695px;

    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}