#img-bg{
    background-image: url('https://d1kvkzjpuym02z.cloudfront.net/60d65d7c92ec2307fbee86a4.jpg?Expires=2097758240&Signature=eoSlYabNhUOrFyf12ZXEuJT~WxzRksGha1Rc~-6-QNSx3xWDH-Wm0lD6QMa9mhodm8xFFn7NvV2KaOLhHp7j9XM0nSu1rpXk9LxZPDf5ArUGheP6oHMcNitv7pSlKosuy72muqsy9j27~dHG65STYzUacZbG1KPZ8WH9g61-IKs_&Key-Pair-Id=APKAJXYWFXCDTRLR3EFA');
    
    min-height: 695px;

    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}